@charset "utf-8";
#infolist {    
	margin-top: 770px;
	margin-right: 25px;
	margin-bottom: 0px;
	margin-left: 530px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	position:absolute;
    z-index:1;
 	overflow:hidden;
 	font-family: "宋体";
	font-size: 12px;
	line-height: 150%;
	width:350px;
    background-color: #E4F4FA;
    border: 1px solid #66CCFF;
    filter:Alpha(Opacity=92)
}
#infolist ul{
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
#infolist ul li a {
	float: left;
	height: 25px;
	width: 110px;
	text-align: left;
}

#infolist4 {    
	margin-top: 310px;
	margin-right: 25px;
	margin-bottom: 0px;
	margin-left: 200px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	position:absolute;
    z-index:1;
 	overflow:hidden;
 	font-family: "宋体";
	font-size: 12px;
	line-height: 150%;
	width:350px;
    background-color: #E4F4FA;
    border: 1px solid #66CCFF;
    filter:Alpha(Opacity=92)
}
#infolist4 ul{
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
#infolist4 ul li a {
	float: left;
	height: 25px;
	width: 110px;
	text-align: left;
}


#infolist5 {    
	margin-top: 310px;
	margin-right: 25px;
	margin-bottom: 0px;
	margin-left: 200px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	position:absolute;
    z-index:1;
 	overflow:hidden;
 	font-family: "宋体";
	font-size: 12px;
	line-height: 150%;
	width:350px;
    background-color: #E4F4FA;
    border: 1px solid #66CCFF;
    filter:Alpha(Opacity=92)
}
#infolist5 ul{
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
#infolist5 ul li a {
	float: left;
	height: 25px;
	width: 110px;
	text-align: left;
}



#infolist1 {    
	margin-top: 820px;
	margin-right: 25px;
	margin-bottom: 0px;
	margin-left: 680px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	position:absolute;
    z-index:1;
 	overflow:hidden;
 	font-family: "宋体";
	font-size: 12px;
	line-height: 150%;
	width:300px;
    background-color: #E4F4FA;
    border: 1px solid #66CCFF;
    filter:Alpha(Opacity=92)
}
#infolist1 ul{
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
#infolist1 ul li a {
	float: left;
	height: 25px;
	width: 60px;
	text-align: left;
}
#infolist2 {    
	margin-top: 920px;
	margin-right: 25px;
	margin-bottom: 0px;
	margin-left: 625px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	position:absolute;
    z-index:1;
 	overflow:hidden;
 	font-family: "宋体";
	font-size: 12px;
	line-height: 150%;
	width:300px;
    background-color: #E4F4FA;
    border: 1px solid #66CCFF;
    filter:Alpha(Opacity=92)
}
#infolist2 ul{
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
#infolist2 ul li a {
	float: left;
	height: 25px;
	width: 70px;
	text-align: left;
}
#infolist3 {    
	margin-top: 1428px;
	margin-right: 25px;
	margin-bottom: 0px;
	margin-left: 430px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	position:absolute;
    z-index:1;
 	overflow:hidden;
 	font-family: "宋体";
	font-size: 12px;
	line-height: 150%;
	width:550px;
    background-color: #E4F4FA;
    border: 1px solid #66CCFF;
    filter:Alpha(Opacity=92)
}
#infolist3 ul{
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
#infolist3 ul li a {
	float: left;
	height: 25px;
	width: 110px;
	text-align: left;
}