em { color:#333; }
h4 { margin:0 0 5px 5px; }
h4 a { color:#333 }
h5 a { color:#333 }
p{ margin-bottom:12px;}
.gray{ color:#999;}
.headactions a,
.forumTable th p a,
cite a { color:#669900 }
.wrap { padding:10px; width:950px; margin:0 auto;}
.forumbox {
	background:#fff url(../Platform/Images/forumbox_head.gif) repeat-x top;
	border:#ccc 1px solid;
	padding:5px;
	overflow:hidden;
	_overflow: visible;
	_height:1%;
	margin-bottom:8px;
	clear:both;
}
#menu { color:#ccc; _height:17px;}
#userinfo { float:left; }
#forumstats { float:right; }
.forumTable { table-layout:fixed}
.forumTable th,
.forumTable td { padding:3px 5px; }
.forumTable th { text-align:left }
.forumTable th p { font-weight:normal; }
.forumTable thead { background-color:#f6f6f6; }
#foruminfo {
	overflow:hidden;
	_overflow: visible;
	_height:1%;
	margin-bottom:8px;
	padding:0 10px;
}
#posteditor_left {
	text-align:left;
	margin:20px 0 0 20px;
	width:150px;
}
#posteditor {
	background-color:#f6f6f6;
	padding:5px;
	border:1px solid #f6f6f6;
}
td.postauthor {
	width:180px;
	vertical-align:top;
	background-color:#f9f9f9;
}
td.postcontent { vertical-align:top; }
div.quote {
	border:1px solid #ddd;
	background-color:#f9f9f9;
	margin:10px 12px;
	padding:10px;
	color:#777
}
div.quote h5 {
	border-bottom: 1px solid #ddd;
	margin-bottom:5px;
}
div.postinfo{	border-bottom: 1px solid #eee;
	padding-bottom:5px;
	margin-bottom:5px;
}
.side{	background:#fff url(../Platform/Images/forumbox_head.gif) repeat-x top;
	padding:5px 0 20px;
	border:#ccc 1px solid;
	overflow:hidden;
	_height:1%;
	margin-bottom:8px;
	clear:both;
}
.shadowline{ background-color:#f9f9f9; border-top:1px dotted #ccc;}
.sidemenu li{ text-indent:24px;}
.sidemenu a{ display:block; line-height:24px; height:24px; overflow:hidden; }
.sidemenu a:hover,.sidemenu li.current a{ background-color:#eee; color:#444; font-weight:bold; text-decoration:none; }
.tabs {background:#F7F7F3;border-bottom:1px solid #C1C1C1;border-left:1px solid #E2E2E2;border-top:1px solid #FFFFFF;margin-bottom:15px;padding-bottom:26px;}
.tabs li {border-right:1px solid #E2E2E2;float:left;height:27px;line-height:27px;}
.tabs li.current {background:#FFFFFF;border-top:1px solid #E2E2E2;border-right:1px solid #C1C1C1;font-weight:bold;height:26px;}
.tabs li.current a{ color:#444;}
.tabs li a {float:left;padding:0 10px;}