Ext.MyForm=Ext.extend(Ext.form.FormPanel ,{
	title:"选择会签人员",
	labelWidth:100,
	labelAlign:"left",
	layout:"form",
	width:466,
	height:181,
	padding:"10px",
	initComponent: function(){
		this.items=[
			{
				xtype:"textarea",
				name:"MyField",
				fieldLabel:"会签人员选择",
				anchor:"100%",
				id:'userNames'
			},{
				xtype:'hidden',
				name:'signUserIds',
				id:'signUserIds'
			},
			{
				xtype:"button",
				name:"MyButton",
				text:"选择用户",
				scope:this,
				handler:function(){
					UserSelector.getView(function(uIds,uNames){
						Ext.getCmp('userNames').setValue(uNames);
						Ext.getCmp('signUserIds').setValue(uIds);
					},false).show();
				}
			}
		]
		Ext.MyForm.superclass.initComponent.call(this);
	}
})
