body, td {font-size: 12px;color:#191919}
filter:alpha(style=1,startY=0,finishY=100,startX=100,finishX=100);
    background-color:#3366cc;
}
.f1{font-size:12px;color:#ffffff}
.f2{
	font-size:12px;
	color:#2055BF;
	font-weight: bold;
}
.f4{font-size:14px;color:#ffffff}
.f3{
	font-size:14px;
	font-weight: bold;
}
.f4{
	font-size:14px;
	color:#2055BF;
	font-weight: bold;
}

.f5{
	font-size:14px;
}
.f6{
	font-size:14px;
	color:#ffffff;
	font-weight: bold;
}
.f7{
	font-size:12px;
	color:#2D2D2D;
	font-weight: bold;
}
.f8{
	font-size:14px;
	color:#873215;
	font-weight: bold;
}
.f9{
	font-size:14px;
	color:#BF3904;
	font-weight: bold;
}
.f10{
	font-size:12px;
	color:#BF3904;
	font-weight: bold;
}

.f11{
	font-size:14px;
	color:#292929;
}

.f12{
	font-size:12px;
	color:#545454;
}
.f12b {
	font-family: "新宋体";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.f14b {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
}
.f18r {
	font-family: "宋体";
	font-size: 18px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
}
.font01{
	font-size:12px;
	color:#7E612F;
	font-weight: bold;
}

.mb{
    position:absolute;
    padding:4px;
    filter: /*filter虑镜*/
        Dropshadow(offx=1,offy=0,color=white)
        Dropshadow(offx=0,offy=1,color=white)
        Dropshadow(offx=0,offy=-1,color=white)
        Dropshadow(offx=-1,offy=0,color=white);
}
#english {
    font-size:12px;
}

a{color:#191919;text-decoration:none}
a:hover{color:#555454;text-decoration: underline}
a:link{color:#191919;text-decoration:none}
.a1{color:#F31E08;text-decoration:none}
.a2{color:#2055BF;text-decoration:none}
.a3{color:#ffffff;text-decoration:none}
.a3:hover{color:#E9ECF3; text-decoration: none}
.a3:link{color:#ffffff; text-decoration: none}
.a4{color:#BF3904;text-decoration:none}
.a4:hover{color:#AF410B; text-decoration: none}
.a4:link{color:#BF3904; text-decoration: none}
.a6{color:#7E612F;text-decoration:none}
.a6:hover{color:#947F5A; text-decoration: none}
.a6:link{color:#7E612F; text-decoration: none}
.a7{color:#E53526;text-decoration:none}
.a7:hover{color:#EE4D3F; text-decoration: none}
.a7:link{color:#E53526; text-decoration: none}
.a8{color:#F34001;text-decoration:none}
.a8:hover{color:#F34001; text-decoration: none}
.a8:link{color:#F34001; text-decoration: none}
.h1 {
	line-height: 25px;
}
.h2 {
	line-height: 22px;
}

.h3 {
	line-height: 18px;
}

.select1 {
	BACKGROUND-IMAGE: url(${ROOT_PATH}images/w1_38.gif)
}
.select2 {
	BACKGROUND-IMAGE: url(${ROOT_PATH}images/w1_41.gif)
}
.sr {
	clear: left;
	float: left;
	height: 16px;
}

.f20{
	font-size:14px;
	color:#ffffff;
}

.f21{
	font-size:12px;
	color:#E53526;
}
.f22{
	font-size:14px;
	color:#ED1F0D;
	font-weight: bold;
}
.f23{
	font-size:12px;
	color:#ED1F0D;
	font-weight: bold;
}

.f24{
	font-size:12px;
	color:#0C329E;
}

.f25{
	font-size:14px;
	color:#F34001;
	font-weight: bold;
}

.tab1 {
	BACKGROUND-IMAGE: url(${ROOT_PATH}images/bjssbg2.png)
}
.tab2 {
	BACKGROUND-IMAGE: url(${ROOT_PATH}images/bjssbg4.png)
}