/*ZBBS风格之zving*/
#menu {	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.headactions{ color: #def;}
.mainbox { padding:1px;border-color:#B8CFE7;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.mainbox h4 { line-height: 27px; padding-left: 1em; margin:0; background: #bbccdd url(header_bg.gif) repeat-x bottom; background-repeat: repeat-x; color: #def; 
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	}
.mainbox h4 a,.headactions a { color: #fff; text-decoration:none; }
.mainbox thead.category th{ background-color:#E3EDF5; color:#1a5d87;}
.mainbox thead th{border-left:1px solid #D9E5F3; font-weight:normal;}
.mainbox tbody th, .mainbox tbody td {
border-top:1px solid #DDE6EE;
padding:5px;
}

.footoperation {background-color:#F0F7FD;}
.footoperation a{border:1px solid #CAD9EA;color:#006699;background-color:#fff;
-moz-border-radius: 3px;
	-webkit-border-radius: 3px;}
.mainbox td.postauthor{background-color:#F0F7FD}
div.quote{background-color:#F6F9FC;}
div.quote div.quote{background-color:#F9FcFf; margin:6px 0;}
div.quote div.quote div.quote{background-color:#F6F9FC;}
#headfilter {border-color:#B8CFE7;}
.forumlist tbody th, .forumlist tbody td, .threadlist tbody th, .threadlist tbody td {padding:2px 5px;}