Ext.MyForm=Ext.extend(Ext.form.FormPanel ,{
xtype:"formpanel",
	title:"任务1填写内容",
	labelWidth:100,
	labelAlign:"left",
	layout:"form",
	width:410,
	height:259,
	padding:"10px",
	initComponent: function(){
		this.items=[
			{
				xtype:"checkbox",
				name:"MyCheckbox",
				fieldLabel:"是否同意",
				boxLabel:"是",
				anchor:"100%"
			},
			{
				xtype:"textarea",
				name:"MyField",
				fieldLabel:"签写意见",
				anchor:"100%",
				height:120
			},
			{
				xtype:"radio",
				name:"MyRadio",
				fieldLabel:"姓别",
				boxLabel:"男",
				anchor:"100%"
			}
		]
		Ext.MyForm.superclass.initComponent.call(this);
	}
})