Ext.MyForm=Ext.extend(Ext.form.FormPanel ,{
xtype:"formpanel",
	title:"请假表单",
	labelWidth:100,
	labelAlign:"left",
	layout:"form",
	width:514,
	height:303,
	padding:"10px",
	initComponent: function(){
		this.items=[
			{
				xtype:"textfield",
				name:"MyField",
				fieldLabel:"请假人",
				anchor:"100%"
			},
			{
				xtype:"datefield",
				name:"MyField1",
				format:"Y-m-d",
				fieldLabel:"开始时间",
				anchor:"100%"
			},
			{
				xtype:"datefield",
				name:"MyField2",
				format:"Y-m-d",
				fieldLabel:"结束时间",
				anchor:"100%"
			},
			{
				xtype:"textarea",
				name:"MyField3",
				fieldLabel:"事由",
				anchor:"100%",
				height:120
			}
		]
		Ext.MyForm.superclass.initComponent.call(this);
	}
})