[
	{
		xtype : 'panel',
		border : false,
		html : '<font color = "red">注意:该流程在IE下才能填写申请表.</font>'
	},{
		xtype : 'button',
		iconCls : 'btn-archives-detail',
		text : '填写申请表',
		handler : function(){
			var webOffice = new WebOffice();
		
			new Ext.Window({
				layout : 'fit',
				id : 'OnLineAccountApplyWin',
				iconCls : 'btn-archives-detail',
					border : false,
					modal : true,
					height : 500,
					width : 800,
					iconCls : 'btn-archive-attachment',
					maximizable : true,
					title : '填写申请表',
					buttonAlign : 'center',
					buttons : [{
								text : '保存',
								iconCls : 'btn-save',
								scope : this,
								handler : function(){
									var formPanel = Ext.getCmp('OnlineAccountDocForm');
									if (formPanel.getForm().isValid()) {
										// 保存WebOffice的内容至服务器，返回其Path，然后再提交表单
										var result = webOffice.saveDoc({
													fileCat : 'onlineAccount',
													url : __fullPath + '/file-upload'
												});
										var docPath = null;
										var fileId = null;
										if (result.success) {
											docPath = result.filePath;
											Ext.getCmp('OnlineAccountFilePath').setValue(docPath), fileId = result.fileId;
											Ext.getCmp('OnLineAccountApplyWin').close();
										} else {
											Ext.ux.Toast.msg('操作信息', '保存文档出错！');
											return;
										}
									}
								}
							}, {
								text : '取消',
								iconCls : 'btn-cancel',
								scope : this,
								handler : function(){
									Ext.getCmp('OnLineAccountApplyWin').close();
								}
							}],
					
					items : [new Ext.FormPanel({
					layout : 'form',
					// bodyStyle : 'padding:10px 10px 10px 10px',
					frame : true,
					id : 'OnlineAccountDocForm',
					defaults : {
						anchor : '98%,98%'
					},
					items : [ {
								xtype : 'panel',
								border : false,
								layout : 'fit',
								height : 500,
								html : webOffice.htmlObj
							}]
				})]
			}).show();
			
			var fullDocPath = '';
			fullDocPath = __fullPath + '/attachFiles/flow/templet.doc';
			// this.webOffice.getDocObject().ShowToolBar=false;
			webOffice.getDocObject().HideMenuItem(0x04 + 0x2000);
	
			webOffice.openDoc(fullDocPath, 'doc');
			// 一定需要加上这个控制，保证关闭窗口后，office实例也需要关闭
			this.on('close', function() {
						try {
							webOffice.close();
						} catch (ex) {
						}
					});
		}
	}, {
		fieldLabel : '申请表文件',
		xtype : 'textfield',
		allowBlank : false,
		readOnly : true,
		blankText : '请填写申请表,并保存.',
		id : 'OnlineAccountFilePath',
		name : 'OnlineAccountFilePath',
		value : '${OnlineAccountFilePath}'
	}, {
		fieldLabel:'申请备注',
		xtype : 'textarea',
		name : 'applyOption',
		value:'${applyOption}',
		anchor:'98%',
		height: 80
	}
]