[
	{
		xtype : 'button',
		text : '审阅',
		iconCls : 'btn-archives-detail',
		handler : function(){
			var objHtml = "<object id='WebOfficeObj' name='WebOfficeObj' height='100%' width='100%' style='LEFT: 0px; TOP: 0px'  classid='clsid:E77E049B-23FC-4DB8-B756-60529A35FAD5' codebase='"
					+ __ctxPath + "/js/core/weboffice/HWPostil_V3074.cab#V6,0,4,2'>";
			objHtml += "<param name='TitlebarColor' value='7898C2'/>";
			objHtml += "</object>";
			
			var win = new Ext.Window({
				layout : 'fit',
				id : 'OnLineAccountDepWin',
				iconCls : 'btn-archives-detail',
					border : false,
					modal : true,
					height : 500,
					width : 800,
					iconCls : 'btn-archive-attachment',
					maximizable : true,
					html : objHtml,
					title : '部门领导审阅',
					buttonAlign : 'center',
					buttons : [{
								text : '保存',
								iconCls : 'btn-save',
								scope : this,
								handler : function(){
									var webObj = document.getElementById('WebOfficeObj');
									var url = __fullPath + "/file-upload";
									webObj.HttpInit();
									webObj.HttpAddPostString('file_cat', 'archive');
									// overwrite file path
									webObj.HttpAddPostString('file_path', '${OnlineAccountFilePath}');
				
									webObj.HttpAddPostCurrFile("AipFile ", "");
									// 提交上传文件
									returnValue = webObj.HttpPost(url);
				
									var obj;
									eval('obj=' + returnValue + ";");
									if (obj.success) {
										Ext.ux.Toast.msg('操作信息', '已经成功保存至服务器！');
										Ext.getCmp('OnLineAccountDepWin').close();
									} else {
										Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
									}
								}
							}, {
								text : '取消',
								iconCls : 'btn-cancel',
								scope : this,
								handler : function(){
									Ext.getCmp('OnLineAccountDepWin').close();
								}
							}]
			}).show();
			
			var webObj = document.getElementById('WebOfficeObj');
			// 隐藏保存与返回的按钮
			// document.all.WebOfficeObj.HideMenuItem(0x04 + 0x2000);
			webObj.ShowToolBar = false;
			var fullDocPath = '';
			fullDocPath = __fullPath + '/attachFiles/' + '${OnlineAccountFilePath}';
			webObj.LoadOriginalFile(fullDocPath, 'doc');
		
			// 一定需要加上这个控制，保证关闭窗口后，office实例也需要关闭
			win.on('close', function() {
						try {
							webObj.Close();
						} catch (ex) {
						}
					});
			// 当窗口关闭时也需要做同样的操作
			win.onUnload = function() {
				try {
					webObj.Close();
				} catch (ex) {
				}
			}
		}
	}, {
		fieldLabel : '申请表文件',
		xtype : 'hidden',
		id : 'OnlineAccountFilePath',
		name : 'OnlineAccountFilePath',
		value : '${OnlineAccountFilePath}'
	}, {
		fieldLabel:'审阅意见',
		xtype : 'textarea',
		name : 'checkOption',
		value:'${checkOption}',
		anchor:'98%',
		height: 80
	}
]