<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${catalog.name}</title>
<link href="../images/kj2.css" type="text/css" rel="stylesheet" />
</head>

<body>
<table width="960" border="0" cellspacing="0" cellpadding="0">

  <cms:include file="include/head.html"></cms:include>

  <tr>
    <td>
    <div id="twoContainer">
        	<div class="twoContentHeader">
            	<span class="twoTitle">${catalog.name}</span> <span class="twoPosition">您的位置&nbsp;&nbsp;&nbsp;&nbsp;
            		<cms:link type="CurrentPosition" spliter=">">{ZCMS:当前位置}</cms:link>
</span>
            </div>
            
            <div class="twoContent">
                <table width="948" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="474" valign="top">
                  	<div class="twoLeft">
                    	<cms:list item="attachment" pagesize="20" page="true">
                        <div class="twoLeftContent">
                            <h3><a href="${level}${attachment.path}${attachment.filename}">${attachment.name}</a></h3>
                        </div>
                        </cms:list>
                        ${pagebar}
                    </div>
                  </td>
                  <td valign="top" width="474">
                  </td>
                </tr>
              </table>
            	
        </div>
        </div>
    </td>
  </tr>
  
  <cms:include file="include/footer.html"></cms:include>

</table>
</body>
</html>

${level}
