  <tr>
    <td colspan="3">
    	<div id="footernavi">
    		<cms:list item="Catalog" name="科技服务">
		  		<a href="${Catalog.Link}" target="_blank">${Catalog.Name}</a>
            </cms:list>

    		  <cms:list item="friendlink" name="图片">
		  		<a href="${friendlink.Link}" target="_blank"><img src=${friendlink.image}>${friendlink.Name}</a>
            </cms:list>
        </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
    	<div id="banquan">
        	泽元软件有限公司版权所   地址 ：北京市海淀区北京科技大学科技园D座311室   电话 ：010－52752668<br />
Copyright   2008 zving.com. All Rights Reserved
        </div>
    </td>
  </tr>




