<tr>
    <td colspan="3">
<div id="header">
        	·<a href="${level}">返回首页</a>·<a href="${level}jsp/Message.jsp?SiteID=${Site.ID}">在线留言</a>·<a href="${level}form.shtml">自定义表单</a>·<a href="#">帮助</a> <img width="14" height="12" src="../images/shouye.gif"/> <a href="#">设为首页</a> </div> 
   </td>
  </tr>
  <tr>
    <td colspan="3">
    	<div id="navi">
        	<a href="index.shtml"><img src="../images/logo.jpg" height="60" width="168" /></a>
            
            <p><cms:list item="Catalog" type="article" level="ROOT" count="1">
			 <a href="${Catalog.Link}" target="_blank">${Catalog.Name}</a>
			  </cms:list>
			  
			<cms:list item="Catalog" type="article" level="ROOT" count="8" begin="1">
			 &nbsp;|&nbsp;<a href="${Catalog.Link}" target="_blank">${Catalog.Name}</a>
			  </cms:list>
			 	<br>
			<cms:list item="Catalog" type="article" level="ROOT" count="1" begin="9">
			 <a href="${Catalog.Link}" target="_blank">${Catalog.Name}</a>
			  </cms:list>
			
			<cms:list item="Catalog" type="article" level="ROOT" count="8" begin="10">
			 &nbsp;|&nbsp;<a href="${Catalog.Link}" target="_blank">${Catalog.Name}</a>
			  </cms:list>

		</p><br/>
     </div></td>
  </tr>