<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${site.name}</title>
<link href="../images/kjindex.css" type="text/css" rel="stylesheet" />
<script src="../SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="../images/Today.js"  type="text/javascript"></script>
<script src="../images/vote.js"  type="text/javascript"></script>
<link href="../images/vote.css" type="text/css" rel="stylesheet" />
<link href="../SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="960" border="0" cellspacing="0" cellpadding="0">

  <cms:include file="include/head.html"></cms:include>
<tr>
    <td colspan="3">
    	<div id="search" style="+width:956px;"><table width="958" border="0" cellspacing="0" cellpadding="0">
    	    <tr>
    	      <td width="50" height="60" class="weatherimg">&nbsp;</td>
    	      <td class="weathertext">
           	  <div style="width:150px; text-align:center; margin-right:20px;" id="datetime"></div>              </td>
    	      <td>
                <form action="${System.SearchAction}" target="_blank" style="width:500px; margin-bottom:4px;">
                  <input type="text" name="query" id="query" class="text" />
                  <input type="hidden" name="site" value="${Site.ID}" />
                  <input type="submit" value="站内搜索" class="btn" />
                </form>
                热门搜索: <a target="_blank" href="${System.SearchAction}?query=中科院&site=${Site.ID}">中科院</a>&nbsp;&nbsp;
				<a target="_blank" href="${System.SearchAction}?query=猪流感&site=${Site.ID}">猪流感</a>&nbsp;&nbsp;
				<a target="_blank" href="${System.SearchAction}?query=火星&site=${Site.ID}">火星</a>&nbsp;&nbsp;
				<a target="_blank" href="${System.SearchAction}?query=流星雨&site=${Site.ID}">流星雨</a>&nbsp;&nbsp;
				<a target="_blank" href="${System.SearchAction}?query=航天&site=${Site.ID}">航天</a>&nbsp;&nbsp;
				<a target="_blank" href="${System.SearchAction}?query=生命起源&site=${Site.ID}">生命起源</a>&nbsp;&nbsp;
				<a target="_blank" href="${System.SearchAction}?query=宇宙&site=${Site.ID}">宇宙</a>
    	      <td width="240" class="searchad"><div style="margin-right:30px; background:url(../images/zcms.gif) no-repeat left center; padding-left:50px; min-height:40px"><a href="http://www.zving.com/products/zcms/">ZCMS v1.2：国内大型商业CMS首次发布免费版本</a></div></td>
  	      </tr>
    </table></div>    </td>
  </tr>  <tr>
    <td valign="top" id="left"><div id="tuijian">
        <div class="tuijianheader">
          <h2><span>科普专题</span></h2>
        </div>
        <div class="zhuanticontent">
          <cms:list item="article" name="科普专题" count="1"> <a href="${Article.Link}" target="_blank">
          	<img src="${Level}${Article.ImagePath}" height="90" width="120" /></a> 
          	<a href="${Article.Link}" target="_blank">
            <h3>${Article.Title|CharWidth=11}</h3>
            </a>
            <p><a href="${Article.Link}" target="_blank">${Article.Summary|CharWidth=45}</a></p>
          </cms:list>
          <div class="line"></div>
          <table width="282" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <cms:list item="Article" count="2" begin="1" name="科普专题">
                <td><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=10}</a></td>
              </cms:list>
            </tr>
            <tr>
              <cms:list item="Article" count="2" begin="3" name="科普专题">
                <td><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=10}</a></td>
              </cms:list>
            </tr>
            <tr>
              <cms:list item="Article" count="2" begin="5" name="科普专题">
                <td><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=10}</a></td>
              </cms:list>
            </tr>
             
          </table>
        </div>
      </div>
      <cms:ad name="首页小横幅" size="300*110" type="1">{ZCMS:广告版位 名称:首页小横幅}</cms:ad>
      <div id="zhuanti">
        <div class="zhuantiheader">
          <h2><span>精彩专题</span></h2>
        </div>
        <div class="zhuanticontent">
          <cms:list item="article" name="精彩专题" count="1"> <a href="${Article.Link}" target="_blank">
          	<img src="${Level}${Article.ImagePath}" height="90" width="120" /></a> <a href="${Article.Link}" target="_blank">
            <h3>${Article.Title|CharWidth=11}</h3>
            </a>
            <p><a href="${Article.Link}" target="_blank">${Article.Summary|CharWidth=25}</a></p>
          </cms:list>
          <div class="line"></div>
          <table width="282" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <cms:list item="Article" count="2" begin="1" name="精彩专题">
                <td><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=10}</a></td>
              </cms:list>
            </tr>
            <tr>
              <cms:list item="Article" count="2" begin="3" name="精彩专题">
                <td><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=10}</a></td>
              </cms:list>
            </tr>
            <tr>
              <cms:list item="Article" count="2" begin="5" name="精彩专题">
                <td><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=10}</a></td>
              </cms:list>
            </tr>
          </table>
        </div>
      </div>
      <div id="shipin">
        <div class="shipinheader">
          <h2><span>科普视频</span></h2>
        </div>
        <div class="shipincontent">
          <cms:list item="article" name="科普视频" count="1"> <a href="${Article.Link}" target="_blank">
          	<img src="${Level}${Article.ImagePath}" height="90" width="120" /></a> <a href="${Article.Link}" target="_blank">
            <h3>${Article.Title|CharWidth=11}</h3>
            </a>
            <p><a href="${Article.Link}" target="_blank">${Article.Summary|CharWidth=25}</a></p>
          </cms:list>
          <div class="line"></div>
          <table width="282" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <cms:list item="Article" count="2" begin="1" name="科普视频">
                <td><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=10}</a></td>
              </cms:list>
            </tr>
            <tr>
              <cms:list item="Article" count="2" begin="3" name="科普视频">
                <td><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=10}</a></td>
              </cms:list>
            </tr>
            <tr>
              <cms:list item="Article" count="2" begin="5" name="科普视频">
                <td><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=10}</a></td>
              </cms:list>
            </tr>
          </table>
        </div>
      </div>
      <div id="tuba" style="background-color:#fbfbfb">
        <div class="tubaheader">
          <h2><span>科技调查</span></h2>
        </div>
        <div class="tubacontent" style="padding-top:0;">
        <cms:vote name="首页调查">{ZCMS:首页调查}</cms:vote>
        <div style="background-color:#f9f9fc; margin-top:10px; padding:5px; _padding-top:10px; _padding-bottom:7px">
        <cms:vote name="甲型H1N1流感">
			<cms:list item="voteSubject">
                <b id="${voteSubject.id}">2.${voteSubject.subject}</b><br />
                <cms:sublist item="voteItem" count=10>
                 <span style="color:#456;margin-right:12px;">${voteItem.html}</span>
                </cms:sublist>
		          <br />
			</cms:list>
		</cms:vote>
        </div>
        </div>
      </div></td>
    <td valign="top" id="middle"><div id="middlecontent">
        <div class="ad2">
          <img src="../images/index.jpg" height="145" width="450" />
        </div>
        <div class="news">
          <div class="newsheader">
            <h2><span>热点新闻</span></h2>
          </div>
          <div class="newscontent">
            <div class="newsleft">
              <cms:list item="Article" count="1" name="热点新闻"> <a href="${Article.Link}" target="_blank">
              	<img src="${Level}${Article.ImagePath}" height="120" width="160" /></a> 
              	<a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=12}</a>
                <p class="newsleftcontent">${Article.Summary|CharWidth=45}<span>[<a href="${Article.Link}" target="_blank">详细</a>]</span></p>
              </cms:list>
            </div>
            <div class="newsright">
              <cms:list item="Article" count="1" name="热点新闻">
                <h3><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=17}</a></h3>
              </cms:list>
              <ul>
                <cms:list item="Article" count="6" begin="1" name="热点新闻">
                  <li><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=20}</a></li>
                </cms:list>
                <cms:list item="Article" count="1" begin="10" name="热点新闻">
                  <li class="last"><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=20}</a></li>
                </cms:list>
              </ul>
              <p><a href="<cms:link type='Catalog' name='热点新闻'/>" target="_blank">更多新闻</a></p>
            </div>
            <div class="clearfloat"></div>
          </div>
        </div>
        <div id="tab1">
          <div id="TabbedPanels1" class="TabbedPanels">
            <ul class="TabbedPanelsTabGroup">
              <li class="TabbedPanelsTabtianwen" id="tianwen" tabindex="0" onmousemove="TabbedPanels1.showPanel(0)"><span>天文航天</span></li>
              <li class="TabbedPanelsTabziran" id="ziran" tabindex="0" onmousemove="TabbedPanels1.showPanel(1)"><span>自然地理</span></li>
              <li class="TabbedPanelsTablishi" id="lishi" tabindex="0" onmousemove="TabbedPanels1.showPanel(2)"><span>历史考古</span></li>
            </ul>
            <div class="TabbedPanelsContentGroup">
              <div class="TabbedPanelsContent">
                <div class="tabnewscontent">
                  <div class="newsleft">
                    <cms:list item="Article" name="天文航天" count="1"> <a href="${Article.Link}" target="_blank">
                    	<img src="${Level}${Article.ImagePath}" height="120" width="160"/></a> 
                    	<a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=12}</a>
                      <p class="newsleftcontent">${Article.Summary|CharWidth=35}<span>[<a href="${Article.Link}">详细</a>]</span></p>
                    </cms:list>
                  </div>
                  <div class="newsright">
                    <cms:list item="Article" name="天文航天" count="1">
                      <h3><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=16}</a></h3>
                    </cms:list>
                    <ul>
                      <cms:list item="Article" name="天文航天" count="6" begin="1">
                        <li><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                      <cms:list item="Article" name="天文航天" count="1" begin="7">
                        <li class="last"><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                    </ul>
                    <p><a href="<cms:link type='Catalog' name='天文航天'/>" target="_blank">更多新闻</a></p>
                  </div>
                </div>
              </div>
              <div class="TabbedPanelsContent">
                <div class="tabnewscontent">
                  <div class="newsleft">
                    <cms:list item="Article" name="自然地理" count="1"> <a href="${Article.Link}" target="_blank">
                    	<img src="${Level}${Article.ImagePath}" height="120" width="160"/></a> 
                    	<a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=12}</a>
                      <p class="newsleftcontent">${Article.Summary|CharWidth=35}<span>[<a href="${Article.Link}">详细</a>]</span></p>
                    </cms:list>
                  </div>
                  <div class="newsright">
                    <cms:list item="Article" name="自然地理" count="1">
                      <h3><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=16}</a></h3>
                    </cms:list>
                    <ul>
                      <cms:list item="Article" name="自然地理" count="6" begin="1">
                        <li><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                      <cms:list item="Article" name="自然地理" count="1" begin="7">
                        <li class="last"><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                    </ul>
                    <p><a href="<cms:link type='Catalog' name='自然地理'/>" target="_blank">更多新闻</a></p>
                  </div>
                </div>
              </div>
              <div class="TabbedPanelsContent">
                <div class="tabnewscontent">
                  <div class="newsleft">
                    <cms:list item="Article" name="历史考古" count="1"> <a href="${Article.Link}" target="_blank">
                    	<img src="${Level}${Article.ImagePath}" height="120" width="160"/></a> 
                    	<a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=12}</a>
                      <p class="newsleftcontent">${Article.Summary|CharWidth=35}<span>[<a href="${Article.Link}">详细</a>]</span></p>
                    </cms:list>
                  </div>
                  <div class="newsright">
                    <cms:list item="Article" name="历史考古" count="1">
                      <h3><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=16}</a></h3>
                    </cms:list>
                    <ul>
                      <cms:list item="Article" name="历史考古" count="6" begin="1">
                        <li><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                      <cms:list item="Article" name="历史考古" count="1" begin="7">
                        <li class="last"><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                    </ul>
                    <p><a href="<cms:link type='Catalog' name='历史考古'/>" target="_blank">更多新闻</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab2">
          <div id="TabbedPanels2" class="TabbedPanels">
            <ul class="TabbedPanelsTabGroup">
              <li class="TabbedPanelsTabtianwen" id="tianwen" tabindex="0" onmousemove="TabbedPanels2.showPanel(0)"><span>生命医学</span></li>
              <li class="TabbedPanelsTabziran" id="ziran" tabindex="0" onmousemove="TabbedPanels2.showPanel(1)"><span>生活百科</span></li>
              <li class="TabbedPanelsTablishi" id="lishi" tabindex="0" onmousemove="TabbedPanels2.showPanel(2)"><span>博客沙龙</span></li>
            </ul>
            <div class="TabbedPanelsContentGroup">
              <div class="TabbedPanelsContent">
                <div class="tabnewscontent">
                  <div class="newsleft">
                    <cms:list item="Article" name="生命医学" count="1"> <a href="${Article.Link}" target="_blank">
                    	<img src="${Level}${Article.ImagePath}" height="120" width="160"/></a> 
                    	<a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=12}</a>
                      <p class="newsleftcontent">${Article.Summary|CharWidth=35}<span>[<a href="${Article.Link}">详细</a>]</span></p>
                    </cms:list>
                  </div>
                  <div class="newsright">
                    <cms:list item="Article" name="生命医学" count="1">
                      <h3><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=16}</a></h3>
                    </cms:list>
                    <ul>
                      <cms:list item="Article" name="生命医学" count="6" begin="1">
                        <li><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                      <cms:list item="Article" name="生命医学" count="1" begin="7">
                        <li class="last"><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                    </ul>
                    <p><a href="<cms:link type='Catalog' name='生命医学'/>" target="_blank">更多新闻</a></p>
                  </div>
                </div>
              </div>
              <div class="TabbedPanelsContent">
                <div class="tabnewscontent">
                  <div class="newsleft">
                    <cms:list item="Article" name="生活百科" count="1"> <a href="${Article.Link}" target="_blank">
                    	<img src="${Level}${Article.ImagePath}" height="120" width="160"/></a> 
                    	<a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=12}</a>
                      <p class="newsleftcontent">${Article.Summary|CharWidth=35}<span>[<a href="${Article.Link}">详细</a>]</span></p>
                    </cms:list>
                  </div>
                  <div class="newsright">
                    <cms:list item="Article" name="生活百科" count="1">
                      <h3><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=16}</a></h3>
                    </cms:list>
                    <ul>
                      <cms:list item="Article" name="生活百科" count="6" begin="1">
                        <li><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                      <cms:list item="Article" name="生活百科" count="1" begin="7">
                        <li class="last"><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                    </ul>
                    <p><a href="<cms:link type='Catalog' name='生活百科'/>" target="_blank">更多新闻</a></p>
                  </div>
                </div>
              </div>
              <div class="TabbedPanelsContent">
                <div class="tabnewscontent">
                  <div class="newsleft">
                    <cms:list item="Article" name="博客沙龙" count="1"> <a href="${Article.Link}" target="_blank">
                    	<img src="${Level}${Article.ImagePath}" height="120" width="160"/></a> 
                    	<a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=12}</a>
                      <p class="newsleftcontent">${Article.Summary|CharWidth=35}<span>[<a href="${Article.Link}">详细</a>]</span></p>
                    </cms:list>
                  </div>
                  <div class="newsright">
                    <cms:list item="Article" name="博客沙龙" count="1">
                      <h3><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=16}</a></h3>
                    </cms:list>
                    <ul>
                      <cms:list item="Article" name="博客沙龙" count="6" begin="1">
                        <li><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                      <cms:list item="Article" name="博客沙龙" count="1" begin="7">
                        <li class="last"><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=18}</a></li>
                      </cms:list>
                    </ul>
                    <p><a href="<cms:link type='Catalog' name='博客沙龙'/>" target="_blank">更多新闻</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></td>
    <td valign="top" id="right"><div id="right">
        <div class="daodu">
          <div class="daoduheader">
            <h2><span>今日导读</span></h2>
          </div>
          <div class="daoducontent">
            <ul>
              <cms:list item="Article" type="Hot" count="5" name="今日导读">
                <li><a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=12}</a></li>
              </cms:list>
            </ul>
          </div>
        </div>
        <div id="guancha">
          <div class="guanchaheader">
            <h2><span>科学观察</span></h2>
          </div>
          <div class="guanchacontent"> <a href="#"><img class="borderimg" src="../images/10.jpg" height="65" width="170" /></a>
            <ul>
              <cms:list item="Article" count="8" name="科学观察">
                <li><img src="${Level}images/num<%=i+1%>.gif" style=" padding-right:6px;" /> <a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=11}</a></li>
              </cms:list>
            </ul>
          </div>
        </div>
        <div id="qiguan">
          <div class="qiguanheader">
            <h2><span>奇闻奇观</span></h2>
          </div>
          <div class="qiguancontent"> <a href="#"><img class="borderimg" src="../images/11.jpg" height="65" width="170" /></a>
            <ul>
              <cms:list item="Article" count="8" name="奇闻奇观">
                <li><img src="${Level}images/num<%=i+1%>.gif" style=" padding-right:6px;" /> <a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=11}</a></li>
              </cms:list>
            </ul>
          </div>
        </div>
        <div id="xinpin">
          <div class="xinpinheader">
            <h2><span>先锋新品</span></h2>
          </div>
          <div class="xinpincontent"> <a href="#"><img class="borderimg" src="../images/12.jpg" height="65" width="170" /></a>
            <ul>
              <cms:list item="Article" count="8" name="先锋新品">
                <li><img src="${Level}images/num<%=i+1%>.gif" style=" padding-right:6px;" /> <a href="${Article.Link}" target="_blank">${Article.Title|CharWidth=11}</a></li>
              </cms:list>
            </ul>
          </div>
        </div>
      </div></td>
  </tr>
  <tr>
    <td colspan="3"><div id="fengmian">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f3f3f3" style="border:1px solid #ccc;">
          <tr>
            <td align="center" class="fengmianheader"><h2><span>封面秀</span></h2></td>
            <td><div id="MarqueeImg" class="fengmiancontent" style="overflow: hidden;width:930px; height:130px; margin-top:5px;">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td id="MarqueeImg1">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                          <cms:list item="article" count="9" name="封面秀">
                            <td width="100" align="center"><a href="${article.link}" target="_blank">
                            <img src="${Level}${article.RoolImage}" width="83" height="113" hspace="5" vspace="5"/></a></td>
                          </cms:list>
                          </tr>
                        </table>
                      </td>
                    <td id="MarqueeImg2"></td>
                  </tr>
                </table>
              </div></td>
          </tr>
        </table>
      </div>
      <script>                                      
					var speed = 3; 
					var MarqueeImg2 = document.getElementById("MarqueeImg2");
					var MarqueeImg1 = document.getElementById("MarqueeImg1");
					var MarqueeImg = document.getElementById("MarqueeImg");
					MarqueeImg2.innerHTML = MarqueeImg1.innerHTML;                                
					function Marquee(){                                     
						if(MarqueeImg2.offsetWidth-MarqueeImg.scrollLeft<=0) {                                 
							MarqueeImg.scrollLeft-=MarqueeImg1.offsetWidth;
						}else{                                     
							MarqueeImg.scrollLeft++;                                     
						}                                     
					}                                     
					var MyMar = setInterval(Marquee,speed);
					MarqueeImg.onmouseover=function(){
						clearInterval(MyMar);
					}
					MarqueeImg.onmouseout = function() {
						MyMar = setInterval(Marquee,speed);
					}
				</script></td>
  </tr>
  <tr>
    <td colspan="3"><div id="footer">
        <cms:list item="FriendLink" name="友情链接" count="14" begin="1"><a href="${FriendLink.URL}" target="_blank">${FriendLink.Name}</a></cms:list>
        <cms:list item="FriendLink" name="友情链接" count="15" begin="15"><a href="${FriendLink.URL}" target="_blank">${FriendLink.Name}</a></cms:list> 
      </div></td>
  </tr>
  <cms:include file="include/footer.html"></cms:include>
</table>
<script type="text/javascript">
<!--
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
var TabbedPanels2 = new Spry.Widget.TabbedPanels("TabbedPanels2");
//-->
</script>
</body>
</html>
