/* CSS Document */
body{
	font:12px "宋体";
	text-align:center;
	margin:0 auto;
	padding:0;
	width:960px;
	line-height:18px;
	_position:relative;
}
table{
	text-align:left;
}
a:link, a:visited{
	text-decoration:none;
}
a:hover, a:active{
	text-decoration:underline;
}

#header{
	background:url(headerbg.jpg) repeat-x left top;
	text-align:right;
	color:#ffebeb;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:5px;
	margin:0;
}
#header a:link, #header a:visited,
#footernavi a:link, #footernavi a:visited{
	color:#ffebea;
	text-decoration:none;
}
#header a:hover, #header a:active,
#footernavi a:hover, #footernavi a:active{
	text-decoration:underline;
}

#navi{
	border:1px solid #ccc;
	margin:0;
	font:13px "宋体";
	color:#ccc;
	height:1%;
	padding:0;
}
#navi img{
	border:0;
	margin:0;
	float:left;
	display:inline;
}
#navi p{
	line-height:23px;
	width:770px;
	float:right;
	letter-spacing:1px;
	padding:0px;
	margin:0;
	margin-top:7px;
	margin-right:9px;
	display:inline;
}
#navi a:link, #navi a:visited{
	color:#901819;
	text-decoration:none;
}
#navi a:hover, #navi a:active{
	color:#901819;
	text-decoration:underline;
}
#navi br{
	clear:both;
}

#twoContainer{
	margin:10px 0 0 0;
	background-color:#f3f3f3;
	padding:5px 5px 10px 5px;
}
.twoContentHeader{
	background:url(2-ContentHeaderbg.jpg) no-repeat left top;
	height:32px;
}
.twoTitle{
	display:block;
	margin:0;
	font:15px "宋体";
	color:#0568c5;
	font-weight:bold;
	padding-top:9px;
	padding-left:30px;
	float:left;
}
.twoPosition{
	display:block;
	margin:0;
	padding-right:20px;
	text-align:right;
	padding-top:10px;
	color:#90171a;
}
.twoPosition a:link, .twoPosition a:visited{
	color:#90171a;
}
.twoPosition a:hover, .twoPosition a:active{
	color:#90171a;
}

.twoContent{
	border:1px solid #ccc;
	border-top:0;
	background-color:#fff;
}
.twoLeft{
	margin:0;
	padding:20px;
	width:470px;
}
.twoLeftContent{
	border-bottom:1px dashed #ccc;
	margin-bottom:15px;
	clear:both;
}
.twoLeftContent img{
	border:1px solid #ccc;
	float:left;
}
.twoLeftContent h3{
	margin:0;
	padding-left:130px;
}
.twoLeftContent h3 a:link, .twoLeftContent h3 a:visited{
	color:#000;
}
.twoLeftContent p a:link, .twoLeftContent p a:visited{
	color:#6c6c6c;
}
.twoLeftContent h3 a:hover, .twoLeftContent h3 a:active,
.twoLeftContent p a:hover, .twoLeftContent p a:active{
	color:#90171a;
}
.twoLeftContent p{
	margin:0;
	padding:30px 0 0px 130px;
	margin-bottom:20px;
	color:#6c6c6c;
}

.twoLeftContentLast img{
	border:1px solid #ccc;
	float:left;
}
.twoLeftContentLast h3{
	margin:0;
	padding-left:130px;
}
.twoLeftContentLast h3 a:link, .twoLeftContentLast h3 a:visited{
	color:#000;
}
.twoLeftContentLast p a:link, .twoLeftContentLast p a:visited{
	color:#6c6c6c;
}
.twoLeftContentLast h3 a:hover, .twoLeftContentLast h3 a:active{
	color:#90171a;
}
.twoLeftContentLast p a:hover, .twoLeftContentLast p a:active{
	color:#90171a;
}
.twoLeftContentLast p{
	margin:0;
	padding:30px 0 0px 130px;
	margin-bottom:20px;
	color:#6c6c6c;
}

.twoRight{
	margin:2px;
	padding:18px;
	border-left:1px solid #ccc;
}
.twoRightContent{
	border-bottom:1px solid #ccc;
	margin-bottom:15px;
}
.twoRightContent ul{
	list-style-type:none;
	margin:0;
	padding:0;
	font-size:14px;
	margin-bottom:16px;
	padding-left:10px;
}
.twoRightContent ul li{
	height:26px;
	background:url(square-blue.jpg) no-repeat 1px 7px;
	padding-left:12px;
}
.twoRightContent ul li a:link, .twoRightContent ul li a:visited{
	color:#000;
}
.twoRightContent ul li a:hover, .twoRightContent ul li a:active{
	color:#90171a;
}
.twoRightContent ul li span{
	color:#6c6c6c;
	text-align:right;
	display:inline-block;
	padding-right:0;
}

.twoRightContent#rightlast{
	border:0;
}

#footernavi{
	margin:10px 0 0 0;
	background-color:#7b2a2c;
	text-align:center;
	padding:2px;
}
#footernavi a{
	display:inline-block;
	margin:5px;
	padding:0px;
	padding-right:10px;
	border-right:1px solid #ffebeb;
}

#banquan{
	margin:10px 0 0 0;
	padding:0 5px 5px;
	line-height:15px;
	text-align:center;
	color:#666;
}