/* CSS Document */
body{
	background-color:#FFF;
	font:12px "宋体";
	text-align:center;
	margin:0 auto;
	padding:0;
	width:960px;
	line-height:18px;
}
table{
	text-align:left;
}
a:link, a:visited{
	color:#1d376a;
	text-decoration:none;
}
a:hover, a:active{
	color:#ba2936;
	text-decoration:underline;
}
a img{ border:0;}
form{ margin:0; padding:0;}
#header{
	background:url(headerbg.jpg) repeat-x left top;
	text-align:right;
	color:#ffebeb;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:5px;
	margin:0;
}
#header a:link, #header a:visited,
#footernavi a:link, #footernavi a:visited{
	color:#ffebea;
	text-decoration:none;
}
#header a:hover, #header a:active,
#footernavi a:hover, #footernavi a:active{
	text-decoration:underline;
}

#navi{
	border:1px solid #ccc;
	margin:0;
	font:13px "宋体";
	color:#ccc;
	height:1%;
	padding:0;
}
#navi img{
	border:0;
	margin:0;
	float:left;
	display:inline;
}
#navi p{
	line-height:23px;
	width:770px;
	float:right;
	letter-spacing:1px;
	padding:0px;
	margin:0;
	margin-top:7px;
	margin-right:9px;
	display:inline;
}
#navi a:link, #navi a:visited{
	color:#901819;
	text-decoration:none;
}
#navi a:hover, #navi a:active{
	color:#901819;
	text-decoration:underline;
}
#navi br{
	clear:both;
}

#search{
	border:1px solid #ccc;
	border-top:0;
	background:url(searchbg.jpg) no-repeat left center;
}
#search .weatherimg{
}
#search .weathertext{
	margin:0;
	padding:0;
}
#search .weathertext p{
	text-align:center;
	margin:0;
}
#search .searchtext{
	width:130px;
}
#search form{
	margin:0;
	padding:0;
}
#search form .text{
	width:360px;
	height:22px;
	font-size:16px;
	border:1px solid #808080;
	margin:0;
	padding:0;
	vertical-align:middle;
}
#search form .btn{
	height:24px;
	width:90px;
	font-size:14px;
	background:url(btnbg.jpg) no-repeat left top;
	border:none;
	vertical-align:middle;
}
#search p.menu{
	margin:0;
	padding:0;
}
#search p.menu a:link, #search p.menu a:visited{
	color:#901819;
	text-decoration:none;
}
#search p.menu a:hover, #search p.menu a:active{
	color:#901819;
	text-decoration:underline;
}
#search .searchad{
	margin:0;
	padding:0;
}
#search img{
	margin:0;
	padding:0;
	border:0;
}

#left, #tuijian{
	width:300px;
}
#tuijian{
	margin-top:10px;
	background:url(contentbg.jpg) repeat-y left top;
}
.tuijianheader{
	height:27px;
	padding:0;
	background:url(cheaderbg.jpg) no-repeat left top;
}
.tuijianheader h2{
	margin:0;
	margin-left:5px;
	background:url(cheaderbg.jpg) no-repeat right top;
	font-size:15px;
	padding:5px 10px 6px 10px;
	font-weight:normal;
	letter-spacing:1px;
}
.tuijiancontent{
	margin:0;
	padding:13px 9px 10px;
	background:url(cfooterbg.jpg) no-repeat left bottom;
}
.tuijiancontent img{
	float:left;
	border:1px solid #ccc;
	display:inline;
}
.tuijiancontent h3{
	margin:0;
	padding:0;
	padding-left:130px;
	font-size:12px;
}
.tuijiancontent p{
	margin:0;
	padding:0;
	padding-top:5px;
	padding-left:130px;
}

#ad1{
	height:110px;
	width:298px;
	border:1px solid #ccc;
	margin:0;
	margin-top:9px;
}

#zhuanti{
	width:300px;
	margin:0;
	padding:0;
	margin-top:9px;-margin-top:10px;
	background:url(contentbg.jpg) repeat-y left top;
}
.zhuanticontent, .shipincontent{
	margin:0;
	padding:13px 9px 10px;-padding:12px 9px 10px;
}
.tubacontent{
	padding:13px 9px 10px;-padding:11px 9px 9px;
}
.zhuantiheader{
	height:27px;
	padding:0;
	background:url(sheaderbg.jpg) no-repeat right top;
}
.zhuantiheader h2{
	margin:0;
	font-size:15px;
	padding:5px 10px 6px 25px;
	font-weight:normal;
	letter-spacing:1px;
}
.zhuanticontent img{
	float:left;
	border:1px solid #ccc;
	display:inline;
}
.zhuanticontent h3{
	margin:0;
	padding:0;
	padding-left:130px;
	font-size:12px;
}
.zhuanticontent p{
	margin:0;
	padding:0;
	padding-top:15px;
	padding-left:130px;
}

#shipin{
	width:300px;
	margin:0;
	padding:0;
	background:url(contentbg.jpg) repeat-y left top;
}
.shipinheader{
	height:27px;
	padding:0;
	background:url(sheaderbg.jpg) no-repeat right top;
}
.shipinheader h2{
	margin:0;
	font-size:15px;
	padding:5px 10px 6px 25px;
	font-weight:normal;
	letter-spacing:1px;
}
.shipincontent img{
	float:left;
	border:1px solid #ccc;
	display:inline;
}
.shipincontent h3{
	margin:0;
	padding:0;
	padding-left:130px;
	font-size:12px;
}
.shipincontent p{
	margin:0;
	padding:0;
	padding-top:15px;
	padding-left:130px;
}

#tuba{
	width:300px;
	margin:0;
	padding:0;
	background:url(contentbg.jpg) repeat-y left top;
}
.tubaheader{
	height:27px;
	padding:0;
	background:url(sheaderbg.jpg) no-repeat right top;
}
.tubaheader h2{
	margin:0;
	font-size:15px;
	padding:5px 10px 6px 25px;
	font-weight:normal;
	letter-spacing:1px;
}
.tubacontent{
	border:0;
	border-bottom:1px solid #ccc;
}
.tubacontent img{
	border:1px solid #ccc;
}
#left .line{
	border:0;
	border-bottom:1px dashed #ccc;
	height:5px;
	margin:0;
	padding:0;
	margin-bottom:5px;
	font-size:1px;
	line-height:0px;
	clear:both;
}

#middlecontent{
	width:450px;
	margin:10px 0 0 9.9px;
}
#middlecontent .ad2{
	height:145px;
	width:450px;
}
.news{
	background:url(contentbg2.jpg) repeat-y left top;
	width:450px;
	margin:0;
	padding:0;
	margin-top:10px;
}
.newsheader{
	height:27px;
	padding:0;
	background:url(cheaderbg.jpg) no-repeat right top;
}
.newsheader h2{
	margin:0;
	font-size:15px;
	padding:5px 10px 6px 20px;
	font-weight:normal;
	letter-spacing:1px;
}
.newscontent{
	margin:0;
	padding:13px 9px 5px;
	background:url(cfooterbg2.jpg) no-repeat left bottom;
}
.newsleft{
	width:162px;
	float:left;
	display:inline;
}
.newsleft img{
	border:1px solid #ccc;
}
.newsleftcontent{
	color:#6c6c6c;
}
.newsleftcontent span{
	color:#bc2931;
}
.newsleftcontent a:link, .newsleftcontent a:visited,
.newsright p a:link, .newsright p a:visited{
	color:#bc2931;
	text-decoration:none;
}
.newsleftcontent a:hover, .newsleftcontent a:active,
.newsright p a:hover, .newsright p a:active{
	color:#bc2931;
	text-decoration:underline;
}
.newsright{
	padding:0;
	margin:0;
	padding-left:170px;
}
.newsright h3{
	margin:0;
	padding:0;
	font-size:14px;
}
.newsright ul{
	margin:0;
	margin-top:10px;
	padding:0;
	list-style-type:none;
}
.newsright ul li{
	background:url(square.jpg) no-repeat 1px center;
	padding-left:10px;
	padding-top:3px;
	height:19px;
	border-bottom:1px dashed #ccc;
}
.newsright ul li.last{
	border:0;
}
.newsright p{
	text-align:right;
	margin:0;
	padding:0;
}
.newsright p a{
	display:inline-block;
	margin-left:5px;
}
.clearfloat{
	clear:both;
	height:1px;
	margin:0;
	padding:0;
	border::none;
	font-size:0px;
}
#TabbedPanels1, #TabbedPanels2{
	margin:10px 0 0 0;
	padding:0;
}
.tabnewscontent{
	margin:0;
	padding:13px 9px 5px;
}

#right{
	width:190px;
	margin:10px 0 0 9.9px;
}
.daodu{
	margin:0;
	padding:0;
	width:190px;
	background:url(contentbg3.gif) repeat-y left top;
	border-bottom:1px solid #ccc;
}
.daoduheader{
	height:27px;
	background:url(sheaderbg.jpg) no-repeat right top;
}
.daoduheader h2{
	margin:0;
	font-size:15px;
	padding:5px 10px 6px 25px;
	font-weight:normal;
	letter-spacing:1px;
	background:url(sheaderbg.jpg) no-repeat left top;
	margin-right:2px;
}
.daoducontent ul{
	margin:0;
	padding:9px;
	padding-bottom:7px;
	list-style-type:none;
}
.daoducontent ul li{
	height:20px;
	background:url(j2.gif) no-repeat 1px center;
	padding-left:10px;
}

#guancha{
	margin:0;
	margin-top:11px;-margin-top:10px;
	padding:0;
	width:190px;
	background:url(contentbg3.gif) repeat-y left top;
	background-color:#f3f3f3;
}
.guanchaheader{
	height:27px;
	background:url(cheaderbg.jpg) no-repeat left top;
}
.guanchaheader h2{
	margin:0;
	margin-left:5px;
	background:url(cheaderbg.jpg) no-repeat right top;
	font-size:15px;
	padding:5px 10px 6px 10px;
	font-weight:normal;
	letter-spacing:1px;
}
.guanchacontent{
	text-align:center;
	margin:10px 0 0 0;
	padding:0;
	padding-bottom:12px;-padding-bottom:7px;
}
.guanchacontent ul{
	margin:11px 5px 0 10px;
	padding:0;
	text-align:left;
	list-style-type:none;
}
.guanchacontent ul li{
	height:20px;
}
.guanchacontent ul li.one,
.qiguancontent ul li.one,
.xinpincontent ul li.one{
	background:url(num1.gif) no-repeat left center;
}
.guanchacontent ul li.two,
.qiguancontent ul li.two,
.xinpincontent ul li.two{
	background:url(num2.gif) no-repeat left center;
}
.guanchacontent ul li.there,
.qiguancontent ul li.there,
.xinpincontent ul li.there{
	background:url(num3.gif) no-repeat left center;
}
.guanchacontent ul li.four,
.qiguancontent ul li.four,
.xinpincontent ul li.four{
	background:url(num4.gif) no-repeat left center;
}
.guanchacontent ul li.five,
.qiguancontent ul li.five,
.xinpincontent ul li.five{
	background:url(num5.gif) no-repeat left center;
}
.guanchacontent ul li.six,
.qiguancontent ul li.six,
.xinpincontent ul li.six{
	background:url(num6.gif) no-repeat left center;
}
.guanchacontent ul li.seven,
.qiguancontent ul li.seven,
.xinpincontent ul li.seven{
	background:url(num7.gif) no-repeat left center;
}
.guanchacontent ul li.eight,
.qiguancontent ul li.eight,
.xinpincontent ul li.eight{
	background:url(num8.gif) no-repeat left center;
}

#qiguan{
	margin:0;
	padding:0;
	width:190px;
	background:url(contentbg3.gif) repeat-y left top;
	background-color:#f3f3f3;
}
.qiguanheader{
	height:27px;
	background:url(sheaderbg.jpg) no-repeat left top;
}
.qiguanheader h2{
	margin:0;
	margin-left:5px;
	background:url(sheaderbg.jpg) no-repeat right top;
	font-size:15px;
	padding:5px 10px 6px 10px;
	font-weight:normal;
	letter-spacing:1px;
}
.qiguancontent{
	text-align:center;
	margin:0;
	padding:10px 0 5px 0;
	padding-bottom:12px;-padding-bottom:7px;
}
.qiguancontent ul{
	margin:11px 5px 0 10px;
	padding:0;
	text-align:left;
	list-style-type:none;
}
.qiguancontent ul li{
	height:20px;
}

#xinpin{
	margin:0;
	padding:0;
	width:190px;
	background:url(contentbg3.gif) repeat-y left top;
	background-color:#f3f3f3;
	border-bottom:1px solid #ccc;
}
.xinpinheader{
	height:27px;
	background:url(sheaderbg.jpg) no-repeat left top;
}
.xinpinheader h2{
	margin:0;
	margin-left:5px;
	background:url(sheaderbg.jpg) no-repeat right top;
	font-size:15px;
	padding:5px 10px 6px 10px;
	font-weight:normal;
	letter-spacing:1px;
}
.xinpincontent{
	text-align:center;
	margin:0;
	padding:10px 0 5px 0;
	padding-bottom:13px;-padding-bottom:9px;
}
.borderimg{
	border:1px solid #ccc;
}
.xinpincontent ul{
	margin:11px 5px 0 10px;
	padding:0;
	text-align:left;
	list-style-type:none;
}
.xinpincontent ul li{
	height:20px;
}

#fengmian{
	margin:0;
	margin-top:10px;
}
#fengmian .fengmianheader{
	width:20px;
	background:url(fengmianheader.jpg) no-repeat left top;
	padding-left:3px;
}
#fengmian .fengmianheader h2{
	font-weight:normal;
	padding-top:0;-padding-top:20px;
}
.fengmiancontent{
	height:150px;
}
.picture{width:83px; margin-top:10px; margin-left:30px; float:left;display:inline;}
.tu{float:left;}
.picture p a{ float:left; padding-left:23px; padding-top:5px;display:inline;}

#footer{
	border:1px solid #ccc;
	margin:10px 0 0 0;
	padding:10px 20px;
}
#footer a{
	display:inline-block;
	margin:1px;
	margin-left:15px;
}
#footer a:link, #footer a:visited{
	color:#666;
}
#footer a:hover, #footer a:active{
	color:#1f376d;
}

#footernavi{
	margin:10px 0 0 0;
	background-color:#7b2a2c;
	text-align:center;
	padding:2px;
}
#footernavi a{
	display:inline-block;
	margin:5px;
	padding:0px;
	padding-right:10px;
	border-right:1px solid #ffebeb;
}

#banquan{
	margin:10px 0 0 0;
	padding:0 5px 5px;
	line-height:15px;
	text-align:center;
	color:#666;
}

.tuijiancontent p a:link, .tuijiancontent p a:visited,
.zhuanticontent p a:link, .zhuanticontent p a:visited,
.shipincontent p a:link, .shipincontent p a:visited{
	color:#6c6c6c;
}
.tuijiancontent p a:hover, .tuijiancontent p a:active,
.zhuanticontent p a:hover, .zhuanticontent p a:active,
.shipincontent p a:hover, .shipincontent p a:active{
	color:#bc2931;
}