body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0; font-size:12px;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
abbr,acronym { border:0;}
.clear	{font: 0/0 sans-serif; height:0; overflow:hidden;clear:both; display: block;}
#box{margin:0 auto; width:940px;}
#head{ width:930px; height:35px; margin-top:5px; border-top:1px solid #90171A; border-bottom:1px solid #90171A; }
.logo{float:left; display:inline; margin-left:30px; margin-top:1px;}
#head ul{float:left; display:inline; margin-top:12px; margin-left:690px;}
#head ul li{float:left; display:block; margin-left:20px; display:inline; }
#head ul li a{text-decoration:none; color:#90171A;}
#head ul li a:hover{text-decoration:underline;}
.tu1{width:740px; height:118px; float:left; margin-top:10px;}
#topright{float:left; display:inline; width:178px; height:116px; border:1px solid #ccc; margin-top:10px; margin-left:12px;}
#topright ul{list-style:none; margin-top:13px; text-align:left; margin-left:10px; }
#topright ul li{line-height:18px;}
#topright ul li a{color:#666; text-decoration:none;}
.tu2{width:240px; height:178px; overflow:hidden;}
#zuo{ width:242px; height:228px; float:left; display:inline; margin-top:10px;}
#left{width:742px; overflow:hidden; float:left;}
#zuo p{ margin-top:3px; overflow:hidden;}
#zuo p a{ color:#1F376D; text-decoration:none; margin-left:35px;}
.shuzi{margin-left:120px;}
#you{width:489px; height:226px; border:1px solid #ccc; background:#F6F7FC; float:left; display:inline; margin-left:7px; margin-top:10px;}
h2{font-size:16px; margin-top:10px; margin-left:10px;}
h2 a{text-decoration:none; color:#CC0000;}
#you p{width:463px; margin-top:8px; margin-left:10px; line-height:18px;}
.p1{ padding-bottom:10px;border-bottom:1px dashed #ccc; position:relative;}
.p1 a{position: absolute; right:10px; top:55px; text-decoration:none; color:#CC0000;}
.p4{ position:relative;}
.p4 a{position: absolute; right:10px; top:25px;  text-decoration:none; color:#CC0000;}
#leftbottom{ width:738px; height:180px; border:1px solid #ccc; overflow:hidden; position:relative; background:#F6F7FC; float:left; margin-top:10px;}
.tu3{width:150px; height:155px; float:left; margin-top:10px; margin-left:10px; display:inline;}
#leftbottom p{ float:left;width:520px; margin-left:13px; _display:inline; overflow:hidden;}
.tu4{ padding-top:15px; padding-left:15px;}
.p2{margin-top:10px; line-height:18px;}
.p2 a{text-decoration:none; color:#000;}
.p2 a:hover{text-decoration:underline;}
.p3{margin-top:18px;}
.p3 a{text-decoration:none; color:#000;}
.p3 a:hover{text-decoration:underline;}
#right{background:url(../images/right_bg.jpg) no-repeat; width:180px; height:420px; overflow:hidden; float:left; margin-left:8px; margin-top:10px;}
h4{font-size:13px; color:#fff; margin-top:10px; margin-left:10px;}
h5{width:150px; margin-left:15px; margin-top:25px; font-weight:bold;}
#right li{ list-style:none;}
.radio{float:left; margin-left:10px; display:inline; margin-top:20px; *margin-top:15px;}
#right p{width:135px; float:left; display:inline; margin-top:20px; margin-left:5px;}
.tj{width:45px; height:22px; margin-left:40px; margin-top:50px;}
.look{width:45px; height:22px;}
#search{ background:url(../images/search_bg.jpg) no-repeat; width:931px; height:191px; margin-top:10px; *margin-top:25px;  overflow:hidden; position:relative;}
.title{ background:url(../images/h3_bg.gif) no-repeat 0 5px; text-indent:18px; margin-left:10px; padding-top:8px; font-size:12px;}
.more{position:absolute; top:8px; right:15px;}
.more a{ text-decoration:none; color:#CC0000;}
.more a:hover{text-decoration:underline;}
#search p{width:167px; float:left; margin-top:15px; margin-left:10px; display:inline; line-height:18px; text-indent:24px; border-right:1px dotted #ccc;}
.tu{float:left;}
.dimao{float:left; padding-left:70px; text-decoration:none; color:#1F376D; padding-top:8px; display:inline;}
.weather{float:left; padding-left:120px; text-decoration:none; color:#1F376D; padding-top:8px; display:inline;}
#photo{ background:url(../images/search_bg.jpg) no-repeat; width:931px; height:191px; margin-top:10px;position:relative;}
#photo p{ margin-top:8px;}
.origin a{ text-decoration:none; color:#666; margin-left:5px;}
.origin a:hover{color:#1F376D;}
.ph{float:left; padding-top:15px;padding-left:30px; display:inline;}
#bottomleft{width:367px; float:left;}
#new{background:url(../images/new_bg.gif) no-repeat; width:366px; height:208px; margin-top:10px;position:relative;}
#new ul{ padding-top:20px; padding-left:15px; list-style:none;}
#new ul li{line-height:22px; position:relative; background:url(../images/li_bg.gif) no-repeat 0 9px; text-indent:8px;}
#new span{position:absolute; right:10px; top:0; color:#6c6c6c;}
#new ul li a{text-decoration:none; color:#000;}
#new ul li a:hover{text-decoration:underline;}
#gls{background:url(../images/new_bg.gif) no-repeat; width:366px; height:208px; margin-top:10px;position:relative;}
#gls ul{ padding-top:20px; padding-left:15px; list-style:none;}
#gls ul li{line-height:22px; position:relative; background:url(../images/li_bg.gif) no-repeat 0 9px; text-indent:8px;}
#gls span{position:absolute; right:10px; top:0; color:#6c6c6c;}
#gls ul li a{text-decoration:none; color:#000;}
#gls ul li a:hover{text-decoration:underline;}
#data{ float:left; background:url(../images/data_bg.gif) no-repeat; width:365px; height:425px; margin-top:10px; margin-left:10px;position:relative; display:inline;}
#data ul{ padding-top:20px; padding-left:15px; list-style:none;}
#data ul li{line-height:22px; position:relative; background:url(../images/li_bg.gif) no-repeat 0 9px; text-indent:8px;}
#data span{position:absolute; right:10px; top:0; color:#6c6c6c;}
#data ul li a{text-decoration:none; color:#000;}
#data ul li a:hover{text-decoration:underline;}
#data2{ float:left; background:url(../images/data_bg180.gif) no-repeat; width:180px; height:425px; margin-top:10px; margin-left:10px;position:relative; display:inline;}
#data2 ul{ padding-top:20px; padding-left:15px; list-style:none;}
#data2 ul li{line-height:22px; position:relative; background:url(../images/li_bg.gif) no-repeat 0 9px; text-indent:8px;}
#data2 span{position:absolute; right:0px; top:0; color:#6c6c6c;}
#data2 ul li a{text-decoration:none; color:#000;}
#data2 ul li a:hover{text-decoration:underline;}
#bottomright{width:180px; float:left; margin-top:10px; margin-left:10px; display:inline;}
#subject{background:url(../images/subject.gif) no-repeat; width:180px; height:128px;}
.caption{ padding-top:8px; padding-left:10px; font-size:12px;}
.text{width:115px; height:18px; border:1px solid #7F9DB9; margin-left:10px;}
.key{margin-top:15px; margin-left:10px;}
.xuan{margin-top:15px; margin-left:15px; float:left; display:inline;}
.sosuo{ float:left; display:inline; margin-top:13px; margin-left:30px;}
.see{margin-left:15px; padding-top:10px; }
.see a{text-decoration:none; color:#000;}
#unit{background:url(../images/unit%20.gif) no-repeat; width:180px; height:128px; margin-top:10px;}
#unit ul{ margin-top:25px; margin-left:10px; width:162px;}
#unit ul li{list-style:none; line-height:20px; background:url(../images/li_bg2.gif) no-repeat 0 5px; text-indent:5px;}
#unit ul li a{text-decoration:none; color:#1F376D;}
#foot{ width:940px; height:35px; background:#7B2A2C; margin-top:10px; overflow:hidden;}
#foot ul{float:left; margin-left:120px; display:inline;}
#foot ul li{float:left; display:block; line-height:35px; margin-left:10px;  }
#foot ul li a{text-decoration:none; color:#FFEBEB;border-right:1px solid #FFEBEB; padding:0 10px 0 0;margin:5px;}
#foot ul li a:hover{text-decoration:underline;}
#footer{width:940px; height:100px;}
#footer p{text-align:center; margin-top:10px;}
#footer p a{text-decoration:none; color:#666;}