/* CSS Document */
body{
	font:12px "宋体";
	text-align:center;
	margin:0 auto;
	padding:0;
	width:960px;
	line-height:18px;
}
table{
	text-align:left;
}
a:link, a:visited{
	text-decoration:none;
}
a:hover, a:active{
	text-decoration:underline;
}

#header{
	background:url(headerbg.jpg) repeat-x left top;
	text-align:right;
	color:#ffebeb;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:5px;
	margin:0;
}
#header a:link, #header a:visited,
#footernavi a:link, #footernavi a:visited{
	color:#ffebea;
	text-decoration:none;
}
#header a:hover, #header a:active,
#footernavi a:hover, #footernavi a:active{
	text-decoration:underline;
}

#navi{
	border:1px solid #ccc;
	margin:0;
	font:13px "宋体";
	color:#ccc;
	height:1%;
	padding:0;
}
#navi img{
	border:0;
	margin:0;
	float:left;
	display:inline;
}
#navi p{
	line-height:23px;
	width:770px;
	float:right;
	letter-spacing:1px;
	padding:0px;
	margin:0;
	margin-top:7px;
	margin-right:9px;
	display:inline;
}
#navi a:link, #navi a:visited{
	color:#901819;
	text-decoration:none;
}
#navi a:hover, #navi a:active{
	color:#901819;
	text-decoration:underline;
}
#navi br{
	clear:both;
}

#twoContainer{
	margin:10px 0 0 0;
	background-color:#f3f3f3;
	padding:5px 5px 10px 5px;
}
.twoContentHeader{
	background:url(2-ContentHeaderbg.jpg) no-repeat left top;
	height:32px;
}
.twoTitle{
	display:block;
	margin:0;
	font:15px "宋体";
	color:#0568c5;
	font-weight:bold;
	padding-top:9px;
	padding-left:30px;
	float:left;
}
.twoPosition{
	display:block;
	margin:0;
	padding-right:20px;
	text-align:right;
	padding-top:10px;
	color:#90171a;
}
.twoPosition a:link, .twoPosition a:visited{
	color:#90171a;
}
.twoPosition a:hover, .twoPosition a:active{
	color:#90171a;
}

.twoContent{
	border:1px solid #ccc;
	border-top:0;
	background-color:#fff;
	margin:0;
	padding:10px;
}
.zhuantiContent{
	margin:0;
	padding:10px;
	padding-bottom:10px;
	border-bottom:1px dashed #ccc;
}
.zhuantiContent img{
	border:1px solid #ccc;
}
.zhuantiContent h3{
	font:14px "宋体";
	font-weight:bold;
}
.zhuantiContent h3 a:link, .zhuantiContent h3 a:visited{
	color:#000;
}
.zhuantiContent h3 a:hover, .zhuantiContent h3 a:active{
	color:#90171a;
}
.zhuantiContent p{
	width:255px;
}
.zhuantiContent p a:link, .zhuantiContent p a:visited{
	color:#6c6c6c;
}
.zhuantiContent p a:hover, .zhuantiContent p a:active{
	color:#90171a;
}
.zhuantiContentLast{
	border:0;
}

.zhuantipage{
	background-color:#f3f3f3;
	margin:0;
	padding:5px;
	text-align:center;
}
.zhuantipage a{
	font-weight:bold;
	color:#cc0000;
	display:inline-block;
	width:20px;
}
.zhuantipage a:link, .zhuantipage a:visited{
	color:#000;
}
.zhuantipage a:hover, .zhuantipage a:active{
	color:#90171a;
}
.zhuantipage a.pagefirst:link, .zhuantipage a.pagefirst:visited{
	text-decoration:underline;
	color:#cc0000;
}
.zhuantipage .pagebtn{
	display:inline-block;
	width:53px;
	border:1px solid #ccc;
	background-color:#fff;
	padding:2px 3px;
	font-weight:normal;
}
.zhuantipage span{
	display:inline-block;
	width:53px;
	border:1px solid #ccc;
	background-color:#fff;
	padding:2px 3px;
}
.zhuantipage form{
	display:inline;
}
.zhuantipage form .pagetext{
	width:35px;
}
.zhuantipage form .go{
	width:30px;
	height:20px;
	font-size:12px;
}

#footernavi{
	margin:10px 0 0 0;
	background-color:#7b2a2c;
	text-align:center;
	padding:2px;
}
#footernavi a{
	display:inline-block;
	margin:5px;
	padding:0px;
	padding-right:10px;
	border-right:1px solid #ffebeb;
}

#banquan{
	margin:10px 0 0 0;
	padding:0 5px 5px;
	line-height:15px;
	text-align:center;
	color:#666;
}