body, td {
	font-size: 12px;
	color:#474747; 
}
#button {
	background-image: url(../images/ixp_r2_c4.png);
	background: url(../images/ixp_r2_c4.png);
	height: 20px;
	width: 65px;
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

a{color:#474747;text-decoration:none}
a:hover{color:#FF6633;text-decoration: none}
a:link{color:#474747; text-decoration: none}

.tabbg {background-image: url("../images/main_leftmenubg.png"); }

.e1 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #f3f8fc; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 2px 0px 0px; OVERFLOW: hidden; WIDTH: 236px; HEIGHT: 570px; BORDER-RIGHT-WIDTH: 0px
}
.e2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 2px 0px 0px; OVERFLOW: scroll; WIDTH: 495px; HEIGHT: 480px; BORDER-RIGHT-WIDTH: 0px
}
.e3 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 2px 0px 0px; OVERFLOW: scroll; WIDTH: 495px; HEIGHT: 300px; BORDER-RIGHT-WIDTH: 0px
}
.f1 {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.bangerfont {
	font-size: 32px;
	color: #FFFFFF;
	font-weight: bold;
}
 
.f2 {
	font-size: 12px;
	color: #1e67b0;
	font-weight: bold;
}

.f3 {
	font-size: 14px;
	color: #4a8d02;
	font-weight: bold;
}

.f4 {
	font-size: 12px;
	color: #FFFFFF;	
        font-weight: bold;
}

.f5 {
	font-size: 14px;
	font-weight: bold;
	color: #2169b1;

}

.f6 {
	font-size: 12px;
	color: #ffcc33;
	font-weight: lighter;
}

.f7 {
	font-size: 12px;
	color: #ff0000;
}


.f8 {
	font-size: 12px;
	color: #669900;
	 font-weight: bold;
}

.f9 {
	font-size: 12px;
	color: #545454;
        font-weight: bold;
}

.f10 {
	font-size: 12px;
	font-weight: bold;
	color: 024996;

}

.f11 {
	font-size: 14px;
	font-weight: bold;
	color: #eb0f09;

}	
.f12 {
	font-size: 12px;
	color: #545454;

}
.f13 {
	font-size: 14px;
	color: #669900;
	font-weight: bold;
}
.f14 {
	font-size: 12px;
	color: #df2b02;

}
 
.f15 {
	font-size: 12px;
	color: #1f66ae;
}
 
.f16 {
	font-size: 14px;
	color: #181818;
}
.f17{
	font-size:12px;
	color:#2c8500;
}
.f18 {
	font-size: 12px;
	font-weight: bold;
	color: #cc3300;

}
.f19 {
	font-size: 14px;
	font-weight: bold;
	color: #cc3300;

}
.title{
	font-family: "宋体";
	font-size: 22px;
	font-weight: bolder;
	color: #db5200;
	line-height: 28px;
}
.title2{
	font-family: "宋体";
	font-size: 22px;
	font-weight: bolder;
	color: #4a8d02;
	line-height: 42px;
}
.fontStyle1{
	font-size:14px;
	font-weight: bold;
	letter-spacing:1px;
	{ float:left; color:#093F91; filter:Dropshadow(offx=1,offy=0,color=#F0F6FC) Dropshadow(offx=0,offy=1,color=#F0F6FC) Dropshadow(offx=-1,offy=0,color=#F0F6FC) Dropshadow(offx=0,offy=-1,color=#F0F6FC);}
	
.a1{color:#ffffff;text-decoration:none}
.a1:hover{color:#f8fafe; text-decoration: none}
.a1:link{color:#ffffff; text-decoration: none}

.a2{color:#ff0000;text-decoration:none}
.a2:hover{color:#fe6c37; text-decoration: underline}
.a2:link{color:#ff0000; text-decoration: none}

.a3{color:#ffcc33;text-decoration:none}
.a3:hover{color:#ffcc33; text-decoration: underline}
.a3:link{color:#ffcc33; text-decoration: none}

.a4{color:#0975c8;text-decoration:none}
.a4:hover{color:#0975c8; text-decoration: underline}
.a4:link{color:#0975c8; text-decoration: none}

.a5{color:#0d4c99;text-decoration:none}
.a5:hover{color:#0975c8; text-decoration: none}
.a5:link{color:#0d4c99; text-decoration: none}

.a6{color:#669900;text-decoration:none}
.a6:hover{color:#489f07; text-decoration: none}
.a6:link{color:#669900; text-decoration: none}

.a7{color:#db5200;text-decoration:none}
.a7:hover{color:#fe6c37; text-decoration: none}
.a7:link{color:#db5200; text-decoration: none}

.a8{color:#1f66ae;text-decoration:none}
.a8:hover{color:#0975c8; text-decoration: underline}
.a8:link{color:#1f66ae; text-decoration: none}

.a9{color:#1f66ae;text-decoration:underline}
.a9:hover{color:#0975c8; text-decoration: underline}
.a9:link{color:#1f66ae; text-decoration: underline}
.textbox {
	BORDER-RIGHT: #87a7d0 1px solid; BORDER-TOP: #87a7d0 1px solid; background-image: url("../images/boxbg.png"); BORDER-LEFT: #87a7d0 1px solid; BORDER-BOTTOM: #87a7d0 1px solid
}

.textbox1 {
	BORDER-RIGHT: #a4acb3 1px solid; BORDER-TOP: #a4acb3 1px solid; BACKGROUND: #fffdf7; BORDER-LEFT: #a4acb3 1px solid; WIDTH: 130px; BORDER-BOTTOM: #a4acb3 1px solid
}
.textbox2 {
	BORDER-RIGHT: #a4acb3 1px solid; BORDER-TOP: #a4acb3 1px solid; BACKGROUND: #fffdf7; BORDER-LEFT: #a4acb3 1px solid; BORDER-BOTTOM: #a4acb3 1px solid
}
.textbox3 {
	BORDER-RIGHT: #87a7d0 1px solid; BORDER-TOP: #87a7d0 1px solid; background-image: url("../images/boxbg.png"); BORDER-LEFT: #87a7d0 1px solid; BORDER-BOTTOM: #87a7d0 1px solid
}
.forminput {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; COLOR: #333333; BORDER-BOTTOM: #cccccc 1px solid; WIDTH: 180px; FONT-FAMILY: "Arial", "Verdana", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #fbf4c5
}
.textinput { 
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; COLOR: #333333; BORDER-BOTTOM: #cccccc 1px solid; WIDTH: 380px; FONT-FAMILY: "Arial", "Verdana", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #fbf4c5
}
.h1 {
	line-height: 20px;
}

.h2 {
	line-height: 25px;
	padding-top: 10px;
}
.h3 {
	line-height: 25px;
	padding-top: 10px;
        font-size: 14px;
}
.drawShadow { filter: DropShadow(Color=#000000, OffX=1, OffY=1)}

.bg {background-image: url("../images/tit_bg.png"); }

.input1 {
BORDER-RIGHT: #7B93CB 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7B93CB 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #7B93CB 1px solid; CURSOR: text; COLOR: #3556A3; PADDING-TOP: 1px; BORDER-BOTTOM: #7B93CB 1px solid
}

.input2{background-image: url("../images/index_ss.png");}
}

.select1 {
	BACKGROUND-IMAGE: url(${ROOT_PATH}images/w1_38.gif)
}

.button1 {
	font-size: 9pt;
	line-height: 19px;
	color: #333333;
	width:30;
	height:19;
	text-align:center;
	border:none;
	cursor:hand;
	background-color: transparent;
	text-decoration: none;
	background-image: url('../images/button_one.gif');
 }
 
 .button2 {
	font-size: 9pt;
	line-height: 19px;
	color: #333333;
	width:53;
	height:19;
	text-align:center;
	border:none;
	cursor:hand;
	background-color: transparent;
	text-decoration: none;
	background-image: url('../images/button_two.gif');
 }
 
 .button4 {
	font-size: 9pt;
	line-height: 19px;
	color: #333333;
	width:68;
	height:19;
	text-align:center;
	border:none;
	cursor:hand;
	background-color: transparent;
	text-decoration: none;
	background-image: url('../images/button_four.gif');
 }

  .button5 {
	font-size: 9pt;
	line-height: 19px;
	color: #333333;
	width:86;
	height:19;
	text-align:center;
	border:none;
	cursor:hand;
	background-color: transparent;
	text-decoration: none;
	background-image: url('../images/button_five.gif');
 }


 .button6 {
	font-size: 9pt;
	line-height: 19px;
	color: #333333;
	width:96;
	height:19;
	text-align:center;
	border:none;
	cursor:hand;
	background-color: transparent;
	text-decoration: none;
	background-image: url('../images/button_six.gif');
 }

ul,li{
	margin:0;
	padding:0;
	display:block;
	list-style-type: none;
}
#card{
	width:100%;
	height:100%;
}
#card ul{
	width:100%;
}
#card_title{
	width:201px;
}
#card_title li{
	float:left;
	text-align:center;
	margin:0;
	cursor:pointer;
	width:67px;
	height:26px;
	font-size: 12px;
	line-height:26px;
	text-decoration: none;
	background-image: url("../images/index_qz_bj02.png");
}
#card_content{
	text-align:center;
}
#card_content li{
	width:100%;
}
#card_content li table{
	margin:0;
	padding:0;
}

#card1{
	width:100%;
	height:100%;
}
#card1 ul{
	width:100%;
}
#card_title1{
	width:354px;
}
#card_title1 li{
	float:left;
	margin:0;
	cursor:pointer;
	width:118px;
	height:85px;
	text-decoration: none;
	background-image: url("../images/tab_bj02.png");
}
#card_title1 li img{
	margin:5px 0px 0px 5px;
}
#card_content1{
	height:218px;
	text-align:center;
	background-image:url("../images/tab_bj.png");
}
#card_content1 li{
	width:100%;
	margin-top:8px;
}

/*CSS sabrosus style pagination*/

DIV.sabrosus {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.sabrosus A {
	BORDER-RIGHT: #9aafe5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9aafe5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9aafe5 1px solid; COLOR: #2e6ab1; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}
DIV.sabrosus A:hover {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.pagination A:active {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.sabrosus SPAN.current {
	BORDER-RIGHT: navy 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: navy 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: navy 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: navy 1px solid; BACKGROUND-COLOR: #2e6ab1
}
DIV.sabrosus SPAN.disabled {
	BORDER-RIGHT: #929292 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #929292 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #929292 1px solid; COLOR: #929292; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #929292 1px solid
}

/*CSS scott style pagination*/
body {
	background-color: #E1E1E1;
}
