<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${Article.Title}--${Catalog.Name}</title>
<link href="../images/kj3.css" type="text/css" rel="stylesheet" />
<script src="../images/vote.js"  type="text/javascript"></script>
<link href="../images/vote.css" type="text/css" rel="stylesheet" />
</head>

<body>
<table width="960" border="0" cellspacing="0" cellpadding="0">

  <cms:include file="include/head.html">{ZCMS:文件包含}</cms:include>

  <tr>
    <td>
   	  <div class="threeContentHeader">
        	<h2>${Catalog.Name}</h2>
            <p><cms:link type="CurrentPosition" spliter=">">{ZCMS:当前位置}</cms:link>
</p>
        </div>
      <table width="960" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="660" valign="top">
           	  <div>
				<div class="threeContentLeft">
				  <h2>${Article.Title}</h2>
                    <p class="time"><a href="http://www.zving.com" target="_blank">泽元迅长软件有限公司</a> ${Article.PublishDate} 点击次数 ${Article.hitCount}</p>
                    <div class="article_content">${Article.Content}</div>
${PageBreakBar}
                    <div class="xiangguan">
                    	<h3>相关阅读</h3>
                    	<ul>
                          <cms:list item="Article" type="Relate" count="5" condition="author='${article.author}'">
                            <li><a href="${Article.Link}" target="_blank">${Article.Title}</a></li>
                          </cms:list>
                        </ul>
                    </div>
                </div>
              </div>
            <cms:comment count="5">{ZCMS:评论区域}</cms:comment>
            </td>
            
            <cms:include file="include/block.html">{ZCMS:文件包含}</cms:include>

        </tr>
    </table></td>
  </tr>
  
  <cms:include file="include/footer.html">{ZCMS:文件包含}</cms:include>

</table>
</body>
</html>
