.webfx-tree-container {
	margin: 0px;
	padding: 0px;
    font-family: "ו";
    font-size:12px;
	white-space: nowrap;
}

.webfx-tree-item {
	padding: 0.5px;
	margin: 0px;
    font-family: "ו";
    font-size:12px;
	color: black;
	white-space: nowrap;
}

.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover {
	margin-left: 3px;
	padding: 1px 2px 1px 2px;
}

.webfx-tree-item a {
	color: black;
	text-decoration: none;
}

.webfx-tree-item a:visited {
	color: black;
	text-decoration: none;
}

.webfx-tree-item a:hover {
	color: #FF0000;
	text-decoration: none;
}

.webfx-tree-item a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.webfx-tree-item img {
	vertical-align: middle;
	border: 0px;
}

.webfx-tree-icon {
	width: 16px;
	height: 16px;
}
.webfx-tree-item a.selected {
	color: selectedtext;
	background: selected;
}

.webfx-tree-item a.selected-inactive {
	color: windowtext;
	background: #CEE5FB;
}