Ext.MyForm=Ext.extend(Ext.form.FormPanel ,{
xtype:"formpanel",
	title:"表单面板",
	labelWidth:100,
	labelAlign:"left",
	layout:"absolute",
	width:378,
	height:260,
	padding:"10px",
	initComponent: function(){
		this.items=[
			{
				xtype:"textfield",
				name:"MyField",
				fieldLabel:"Label",
				anchor:"",
				x:180,
				y:20,
				width:160
			},
			{
				xtype:"textarea",
				name:"MyField1",
				fieldLabel:"Label",
				anchor:"",
				x:180,
				y:70,
				width:170,
				height:100
			},
			{
				xtype:"checkbox",
				name:"MyCheckbox",
				fieldLabel:"Label",
				boxLabel:"boxLabel",
				anchor:"",
				x:10,
				y:20,
				width:130
			},
			{
				xtype:"label",
				name:"MyLabel",
				text:"标签：",
				x:140,
				y:20
			},
			{
				xtype:"label",
				name:"MyLabel1",
				text:"标签：",
				x:130,
				y:70
			}
		]
		Ext.MyForm.superclass.initComponent.call(this);
	}
})