<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- =============================== Application Parameters ========================== -->
	<bean id="applicationParameter"
		class="com.hxzy.base.util.ApplicationParameter">
		<property name="parameters">
			<map>
				<!-- 每页信息条数 -->
				<entry key="recPerPage">
					<value>15</value>
				</entry>
				
			</map>
		</property>
	</bean>

</beans>
