<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Transaction Manager -->
	<!-- <bean id="transactionManager"
			class="org.springframework.orm.hibernate3.HibernateTransactionManager">
			<property name="sessionFactory" ref="hibernateSessionFactory" />
		</bean> -->

	<!-- Application Service -->
	<bean id="logService" class="com.hxzy.common.log.service.impl.LogServiceImpl">
		<property name="logDao">
			<ref bean="logDao" />
		</property>
	</bean>
  
	<bean id="userService" class="com.hxzy.common.user.service.impl.UserServiceImpl">
	</bean>
	
	<bean id="privilegeService" class="com.hxzy.common.user.service.impl.PrivilegeServiceImpl">
		<property name="privilegeDao">
			<ref bean="privilegeDao" />
		</property>
	</bean>
	
	<bean id="roleService" class="com.hxzy.common.user.service.impl.RoleServiceImpl">
		<property name="roleDao">
			<ref bean="roleDao" />
		</property>
	</bean>
	

</beans>
