<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="    
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd    
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd    
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


  <!-- 事务通知 -->
  <tx:advice id="txAdvice" transaction-manager="transactionManager">
    <tx:attributes>
      <tx:method name="save*" propagation="REQUIRED" />
      <tx:method name="add*" propagation="REQUIRED" />
      <tx:method name="update*" propagation="REQUIRED" />
      <tx:method name="delete*" propagation="REQUIRED" />
      <tx:method name="*" read-only="true" />
    </tx:attributes>
  </tx:advice>

  <!-- Spring AOP config -->
  <aop:config>
    <!-- 切入点 -->
    <aop:pointcut id="serviceTransaction" expression="execution(* com.hxzy.base.service.impl.BaseServiceImpl.*(..))" />
    <aop:advisor pointcut-ref="serviceTransaction" advice-ref="txAdvice" />
  </aop:config>

  <!-- Application Service -->
  <bean id="logService" class="com.hxzy.common.log.service.impl.LogServiceImpl" />

  <bean id="userService" class="com.hxzy.common.user.service.impl.UserServiceImpl" />

  <bean id="privilegeService" class="com.hxzy.common.user.service.impl.PrivilegeServiceImpl" />

  <bean id="roleService" class="com.hxzy.common.user.service.impl.RoleServiceImpl" />

  <bean id="dictService" class="com.hxzy.common.dict.service.impl.DictServiceImpl" />
  <!-- Application Service -->

  <!-- OA Service -->
  <bean id="expertService" class="com.bdzb.oa.expert.service.impl.ExpertServiceImpl" />

  <bean id="supplierService" class="com.bdzb.oa.supplier.service.impl.SupplierServiceImpl" />

  <bean id="memberService" class="com.bdzb.oa.member.service.impl.MemberServiceImpl" />
</beans>
