log4j.rootCategory=INFO,CONSOLE,ZVING

log4j.appender.CONSOLE=org.apache.log4j.ConsoleAppender
log4j.appender.CONSOLE.layout=org.apache.log4j.PatternLayout
log4j.appender.CONSOLE.layout.ConversionPattern=%p: %d{yy-MM-dd HH:mm:ss} %m%n

log4j.appender.ZVING=org.apache.log4j.DailyRollingFileAppender
log4j.appender.ZVING.File=F:/JAVA/Tomcat5.5/webapps/zcms//WEB-INF/logs/out
log4j.appender.ZVING.DatePattern='_'yyyyMMdd'.log'   
log4j.appender.ZVING.Threshold=DEBUG   
log4j.appender.ZVING.layout=org.apache.log4j.PatternLayout
log4j.appender.ZVING.layout.ConversionPattern=%p: %d{yy-MM-dd HH:mm:ss} %m%n
